<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/js/home/home.js" defer> </script>
    <title>Document</title>
</head>
<body>
    <div id = "userInfo" style = "width:600px;height:25px;background-color:yellow">
        이름<input id = "name" type="text" value="guest" style="width:50px" readonly></intput>
        경험치<input id = "exp" type="text" value="0" style="width:50px" readonly></intput>
        배틀코인<input id = "battlecoin" type="text" value="0" style="width:50px" readonly></intput>
        다이아몬드<input id = "diamond" type="text" value="0" style="width:50px" readonly></intput>
        골드<input id = "money" type="text" value="0" style="width:50px" readonly></intput> 

    </div>
    <div id = "mainView" style = "width:600px; height:400px;background-color:#CF0">
        <div id="mainStore" style = "display:none;">
            <div style = "width:300px; height:400px; float: left; background-color:beige">
                <p> 일일 상점</p>
                무료 다이아몬드 100개<input id = "freeGetBtn" type = "button" value ="구매" ></input>
            </div>
            <div style = "width:300px; height:400px; float: left; background-color:bisque">
                <p> 다이아몬드 상점</p>
            </div>
        </div>
        <div id="mainInven" style = "display:none;">
            <a href="/inventory">Inventory</a>
        </div>
        <div id="mainCombat" style = "display:none;">
            <a href="/singlegame">Single Game</a>
        </div>



    </div>
    <div id = "navBottom" style = "width:600px;background-color:cyan">
        <input id = "store" type="button" value="상점"></intput>
        <input id = "inven" type="button" value="장비"></intput>
        <input id = "combat" type="button" value="전투"></intput>
        <input id = "challenge" type="button" value="도전"></intput>
        <input id = "evolution" type = "button" value="진화"></intput>
        <input id = "logout" type="button" value="접속종료"></intput>
    </div>
</body>
</html>