<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%= user_name %> 님 어서오세요 <br>
    Money : <%= user_money %><br>
    BattleCoin : <%= battle_coin %><br>
    여기는 로비 입니다<br>

    <a href="/matchmaking">Multi Game</a><br>
    <a href="/inventory">Inventory</a><br>
    <a href="/store">Store</a><br>
    <a href="/singlegame">Single Game</a><br>
    <a href="/logout">Logout</a><br>
</body>
</html>