<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    여기는 루트입니다<br>
    <a href="/logout">logout</a><br>
    <a href="/chat">chat</a><br>
    <a href="/inventory">inventory</a>
</body>
</html>